<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <PatternLayout pattern="%5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="org.apache.jmeter" level="ERROR"/>
    <Logger name="com.blazemeter.jmeter.correlation.core.templates" level="ERROR"/>
    <Logger name="org.apache.jmeter.protocol.http.proxy.Proxy" level="ERROR"/>
    <Logger name="org.apache.jorphan.exec.KeyToolUtils" level="ERROR"/>
    <Logger name="org.openqa.selenium" level="ERROR"/>
  </Loggers>
</Configuration>