:root {
    --c-brand: #5599ff;
    --c-brand-light: #77adfd;

    --c-shadow: rgba(0,0,0,0.2);
}

html.dark {
    // brand colors
    --c-brand: #77adfd;
    --c-brand-light: #5599ff;

    --c-shadow: rgba(255,255,255,0.2);
}

/* This is a fix to avoid, when building (does not happen with dev server),
showing two external link icons for external links containing icons.*/
a.external-link>svg~span:nth-child(2) {
  display: none;
}

.vertical-divider {
  display: inline-flex;
  width:0;
  border: solid;
  border-width: 0 thin 0 0;
  border-color: var(--c-border);
  min-height: 80%;
  vertical-align: text-bottom;
  margin: 0 0.5rem;
}

.hero-logo {
  margin: 3rem auto 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-logo span {
  font-weight:500;
  font-size: 3rem;
  color: var(--c-text-accent);
  margin:  0 0 0 0.7rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.grid-logo {
  display: flex;
  align-items: center;
  width: 25%;
  height: 70px;
  padding: 15px;
  border: 1px solid var(--c-border);
  border-radius: 5px;
}

.grid-logo img {
  width: 100%;
  -webkit-filter: drop-shadow(1px 0 0 white)
                  drop-shadow(0 1px 0 white)
                  drop-shadow(-1px 0 0 white)
                  drop-shadow(0 -1px 0 white);
  -filter: drop-shadow(1px 0 0 white)
           drop-shadow(0 1px 0 white)
           drop-shadow(-1px 0 0 white)
           drop-shadow(0 -1px 0 white);
}

.carousel {
  position: relative;
  box-sizing: border-box;
  touch-action: pan-y;
  overscroll-behavior: none;
}

.carousel.is-dragging {
  touch-action: none;
}

.carousel * {
  box-sizing: border-box;
}

.track {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  padding: 10px 0px;
  height: 600px;
}

.viewport {
  overflow: hidden;
}

.carousel-control {
  --control-size: 20px;
  box-sizing: content-box;
  background: transparent;
  border-radius: 0;
  width: var(--control-size);
  height: var(--control-size);
  text-align: center;
  font-size: var(--control-size);
  padding: 0;
  color: var(--c-text);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 0;
  cursor: pointer;
  margin: 0 10px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control:hover {
  color: var(--c-text-lighter);
}

.carousel-control-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.prev-slide {
  left: 0;
}

.next-slide {
  right: 0;
}

.testimonial {
  display: flex;
  flex-direction: column;
  background-color: var(--c-bg-lighter);
  border-radius: 15px;
  padding: 15px;
  width: 400px;
  white-space: normal;

  scroll-snap-stop: auto;
  flex-shrink: 0;
  justify-content: center;
   /* Fix iOS scrolling */
   transform: translateZ(0);
}

.testimonial .position {
  margin-top: 5px;
  color: var(--c-text-lighter);
}

.testimonial .comment p {
  margin: 10px 0px 0px 0px;
}

.testimonial .fa-github {
  color: var(--c-text);
}

.testimonial .fa-globe {
  color: #aaaaaa;
}

.testimonial .fa-linkedin {
  color: rgb(10, 102, 194);
}

.testimonial .fa-twitter {
  color: rgb(29, 155, 240);
}