name: run tests
on:
  push:
    tags-ignore:
      - "*"
    branches:
      - "**"
jobs:
  test:
    runs-on: ubuntu-latest
    concurrency: blazemeter_test
    strategy:
      matrix:
        jmeterVersion: [ 5.5-SNAPSHOT ]

    steps:
      - uses: actions/checkout@v2
      - name: Setup Java 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Run maven tests
        run: mvn --batch-mode --no-transfer-progress clean test  -Djmeter.version=${{ matrix.jmeterVersion }} -Pjmeter-snapshot
        env:
          BZ_TOKEN: ${{ secrets.BZ_TOKEN }}
