name: publish release
on:
  release:
    types: [ published ]
  workflow_dispatch:
jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: blazemeter_test
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 8
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Get version
        id: version
        run: echo "dsl_version=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
      - name: Check version
        run: .github/semver-check.sh ${{ env.dsl_version }}
      - name: set maven project version
        run: mvn --batch-mode --no-transfer-progress versions:set -DnewVersion=${{ env.dsl_version }} --settings .github/settings.xml
      - name: package release
        run: mvn --batch-mode --no-transfer-progress clean install --settings .github/settings.xml
        env:
          BZ_TOKEN: ${{ secrets.BZ_TOKEN }}
          OCTOPERF_API_KEY: ${{ secrets.OCTOPERF_API_KEY }}
      - name: Upload jmeter-java-dsl.jar to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./jmeter-java-dsl/target/jmeter-java-dsl-${{ env.dsl_version }}.jar
          file_glob: true
          tag: ${{ github.ref }}
      - name: Upload jmeter-java-dsl-blazemeter.jar to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./jmeter-java-dsl-blazemeter/target/jmeter-java-dsl-blazemeter-${{ env.dsl_version }}.jar
          file_glob: true
          tag: ${{ github.ref }}
      - name: Upload jmeter-java-dsl-elasticsearch-listener.jar to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./jmeter-java-dsl-elasticsearch-listener/target/jmeter-java-dsl-elasticsearch-listener-${{ env.dsl_version }}.jar
          file_glob: true
          tag: ${{ github.ref }}
      - name: Upload jmeter-java-dsl-dashboard.jar to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./jmeter-java-dsl-dashboard/target/jmeter-java-dsl-dashboard-${{ env.dsl_version }}.jar
          file_glob: true
          tag: ${{ github.ref }}
      - name: Upload jmx2dsl to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./jmeter-java-dsl-jmx2dsl/target/jmx2dsl.jar
          file_glob: true
          tag: ${{ github.ref }}
      - name: publish to Nexus
        run: .github/maven-central-deploy.sh
        env:
          GPG_SECRET_KEYS: ${{ secrets.GPG_SECRET_KEYS }}
          GPG_OWNERTRUST: ${{ secrets.GPG_OWNERTRUST }}
          GPG_EXECUTABLE: gpg
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      - name: update docs version
        run: .github/fix-docs-version.sh ${{ env.dsl_version }}
      - name: Deploy github pages
        run: .github/vuepress-deploy.sh
        env:
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v3
        with:
          repository: abstracta/jmeter-java-dsl-sample
          path: jmeter-java-dsl-sample
          token: ${{ secrets.ACTIONS_TOKEN }}
      - name: update version in sample project
        run: .github/update-sample-version.sh ${{ env.dsl_version }}
      - name: Discord notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@master
        with:
          args: 'A new release is out! Check it at {{ EVENT_PAYLOAD.release.html_url }}.'
